@* Giriş Yapan Kişinin Kendine Özel Paneli *@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var roles = await UserManager.GetRolesAsync(user);

        <li class="nav-item">
            <a class="nav-link text-dark d-flex align-items-center">
                <span class="badge" style="background-color: #E5007D; color: white; margin-right: 8px;">@roles.FirstOrDefault()</span>
                Merhaba, <strong>@User.Identity?.Name</strong>
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Announcement", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-muted border-0">Güvenli Çıkış</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" style="color: #E5007D;" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-sm text-white" style="background-color: #E5007D;" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
        </li>
    }
</ul>