@page
@model RegisterModel
@{
    ViewData["Title"] = "Yeni Personel Kaydı";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <section class="card shadow-sm p-4" style="border-radius: 15px;">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 class="text-center mb-4">Yeni Kayıt Oluştur</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">E-posta Adresi</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="şifre" />
                        <label asp-for="Input.Password">Şifre</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="şifre tekrar" />
                        <label asp-for="Input.ConfirmPassword">Şifre Tekrar</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg text-white mb-3" style="background-color: var(--ibb-pink); border-radius: 10px;">Kayıt Ol</button>

                    <div class="mt-3 text-center">
                        <p>Zaten bir hesabınız var mı? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" style="color: var(--ibb-pink); font-weight: bold; text-decoration: none;">Giriş Yap</a></p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}